<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Copyright 1999-2011 Alibaba Group.
 -  
 - Licensed under the Apache License, Version 2.0 (the "License");
 - you may not use this file except in compliance with the License.
 - You may obtain a copy of the License at
 -  
 -      http://www.apache.org/licenses/LICENSE-2.0
 -  
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 - See the License for the specific language governing permissions and
 - limitations under the License.
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} | %p | %c#%M - %m%n" />
		</layout>
	</appender>


	<logger name="com.alibaba.dubbo">
		<level value="warn" />
	</logger>
	<logger name="org.springframework.test">
		<level value="warn" />
	</logger>
	<logger name="org.springframework.beans.factory">
		<level value="warn" />
	</logger>
	<logger name="org.springframework.core.env">
		<level value="warn" />
	</logger>
	<logger name="com.zhuanche.car.cache.redis">
		<level value="warn"/>
	</logger>
	<logger name="org.mongodb.driver.cluster">
		<level value="warn" />
	</logger>

	<logger name="com.ibatis" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.Connection" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.Statement" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.PreparedStatement" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="java.sql.ResultSet" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework.data.mongodb" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>